.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  height: 50vh;
}

.fighter-preview___img {
  height: 100%;
}

.fighter-preview___wrapper {
  background-color: #ffdfa7;
  display: grid;
  padding: 5px 7px;
  gap: 5px;
  margin-bottom: 20px;
  font-family: sans-serif;
  border: 2px solid #ca9650;
  grid-area: wrapper;
    grid-template-areas:
      "title title title"
      "health attack defense";
}

.fighter-preview___title {
  grid-area: title;
  margin: 0 0 5px 0;
}

.fighter-preview___health {
  grid-area: health;
}

.fighter-preview___attack {
  grid-area: attack;
}

.fighter-preview___defense {
  grid-area: defense;
}

/*.fighter-preview___left, .fighter-preview___right {*/
/*  display: grid;*/
/*  grid-template-rows: 1fr 1fr auto;*/
/*  grid-template-columns: repeat(3, 1fr);*/
/*  grid-template-areas:*/
/*    "title title title"*/
/*    "health attack defense"*/
/*    "img img img";*/
/*}*/

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}
